.sil-border-right {
  border-right: solid 1px $smoke;
}

.sil-side-wrapper {
  margin-top: $sil-spacing-xxl;
  margin-bottom: $sil-spacing-xxl;
  padding-right: $sil-spacing-xxl;
  padding-left: $sil-spacing-xxl;

  .side-nav {
    .last {
      @include sil-mp-reset;
    }
  }

  .vcard {
    display: inline-block;
    margin: $sil-spacing-md 0;
    border: none;
    padding: $sil-spacing-md;

    li {
      margin: 0;
      display: block;
    }

    .fn {
      font-weight: bold;
      font-size: 0.9375rem;
    }
  }
}

.sil-title-wrapper {

  padding-top: $sil-spacing-xxl;
  padding-bottom: $sil-spacing-xxl;
  padding-right: $sil-spacing-md;
  padding-left: $sil-spacing-md;

  // border-bottom: solid 1px $smoke;

  h1 {
    @include sil-mp-reset;
    font-size: $h3-font-size;
  }
}

.sil-contents-wrapper {
  background-color: $white-smoke;
  margin: $sil-spacing-xxl;
  padding: $sil-spacing-xxl;

  h2 {
    color: $primary-color;
    font-weight: bold;
    font-size: $h3-font-size;
  }
}

.sil-contents-textarea {
  margin-top: $sil-spacing-xxl;
}

.sil-height100 {
  height: 100%;
  min-height: 100%;
}
